<% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error){ %>
        <div class="alert alert-info" role="alert">
            <strong><%= error.msg%></strong>
        </div>
    <% }); %>
<% }%>    

<% if (success_msg != '') { %>
    <% success_msg.forEach(function(success_msg){ %>
        <div class="alert alert-info" role="alert">
            <strong><%= success_msg%></strong>
        </div>
    <% }); %>
<% } %>

<% if (error_msg != '') { %>
    <% error_msg.forEach(function(error_msg){ %>
        <div class="alert alert-info" role="alert">
            <strong><%= error_msg%></strong>
        </div>
    <% }); %>
<% } %>

<% if (error != '') { %>
    <% error.forEach(function(error_msg){ %>
        <div class="alert alert-info" role="alert">
            <strong><%= error%></strong>
        </div>
    <% }); %>
<% } %>




