<div class="form-group row">
  <label for="productName" class="col-sm-2">Name</label>
  <div class="col-sm-5">
    <input type="text" name="productName" id="productName" class="form-control" required />

  </div>
</div>

<div class="form-group row">
  <div class="col-sm-2">
    <label for="productImg">Cover Image</label>
  </div>
  <div class="col-sm-5">
    <input type="file" class="form-control-file filepond" id="coverImage" name="coverImage" required />


  </div>
</div>

<div class="form-group row">
  <div class="col-sm-2">
    <label for="images">Images</label>
  </div>
  <div class="col-sm-5">
    <input type="file" class="form-control-file filepond" multiple id="images" name="images" multiple />
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-2">
    <label for="productShortDesc">Description:</label>
  </div>
  <div class="col-sm-5">
    <textarea class="form-control" id="productShortDesc" rows="3" maxlength="250" name="productShortDesc"
      required></textarea>

  </div>
</div>

<div class="form-group row">
  <div class="col-sm-2">
    <label for="productDesc">Detail:</label>
  </div>
  <div class="col-sm-8">
    <textarea class="form-control" id="productDesc" rows="3" name="productDesc" required></textarea>

  </div>
</div>

<div class="form-group row">
  <div class="col-sm-2">
    <p>Shoe size:</p>
  </div>
  <div class="col-sm-4">
    <div class="form-check" id = "shoeSizeFrom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size35" class = "shoeSizeClass" value="35">
              <label class="form-check-label" for="size35">35</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size35.5" class = "shoeSizeClass" value="35.5">
              <label class="form-check-label" for="size35.5">35.5</label>
            </div>
      
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size36" class = "shoeSizeClass" value="36">
              <label class="form-check-label" for="size36">36</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size36.5" class = "shoeSizeClass" value="36.5">
              <label class="form-check-label" for="size36.5">36.5</label>
            </div>
      
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size37" class = "shoeSizeClass" value="37">
              <label class="form-check-label" for="size37">37</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size37.5" class = "shoeSizeClass" value="37.5">
              <label class="form-check-label" for="size37.5">37.5</label>
            </div>
      
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size38" class = "shoeSizeClass" value="38">
              <label class="form-check-label" for="size38">38</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size38.5" class = "shoeSizeClass" value="38.5">
              <label class="form-check-label" for="size38.5">38.5</label>
            </div>
      
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size39" class = "shoeSizeClass" value="39">
              <label class="form-check-label" for="size39">39</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size39.5" class = "shoeSizeClass" value="39.5">
              <label class="form-check-label" for="size39.5">39.5</label>
            </div>
      
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size40" class = "shoeSizeClass" value="40">
              <label class="form-check-label" for="size40">40</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size40.5" class = "shoeSizeClass" value="40.5">
              <label class="form-check-label" for="size40.5">40.5</label>
            </div>
          </div>
          <div class="col">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size41" class = "shoeSizeClass" value="41">
              <label class="form-check-label" for="size41">41</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size41.5" class = "shoeSizeClass" value="41.5">
              <label class="form-check-label" for="size41.5">41.5</label>
            </div>
      
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size42" class = "shoeSizeClass" value="42">
              <label class="form-check-label" for="size42">42</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size42.5" class = "shoeSizeClass" value="42.5">
              <label class="form-check-label" for="size42.5">42.5</label>
            </div>
      
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size43" class = "shoeSizeClass" value="43">
              <label class="form-check-label" for="size43">43</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size43.5" class = "shoeSizeClass" value="43.5">
              <label class="form-check-label" for="size43.5">43.5</label>
            </div>
      
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size44" class = "shoeSizeClass" value="44">
              <label class="form-check-label" for="size44">44</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size44.5" class = "shoeSizeClass" value="44.5">
              <label class="form-check-label" for="size44.5">44.5</label>
            </div>
      
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size45" class = "shoeSizeClass" value="45">
              <label class="form-check-label" for="size45">45</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name = "cshoeSize" id="size45.5" class = "shoeSizeClass" value="45.5">
              <label class="form-check-label" for="size43.5">45.5</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-2">
    <label class="productPrice">Price:</label>
  </div>
  <div class="col-sm-5">
    <input type="number" class="form-control" id="productPrice" name="productPrice" required />

  </div>
</div>

<div class="form-group row">
  <div class="col-sm-2">
    <label for="productCate">Category:</label>
  </div>
  <div class="col-sm-2">
    <select name="productCate" id="productCate" class="form-control" required>
      <% category.forEach(category => { %>
        <option value="<%= category._id %>"><%= category.name%></option>
      <% }) %>
    </select>

  </div>
</div>

<div class="form-group row">
  <div class="col-sm-2">
    <p>Condition:</p>
  </div>
  <div class="col-sm-2">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="pIsNew" id="true" value="true" />
      <label class="form-check-label" for="true">True</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="pIsNew" id="false" value="false" checked />
      <label class="form-check-label" for="false">False</label>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-2">
    <label for="pSaleOff">Discount percent:</label>
  </div>
  <div class="col-sm-2">
    <input type="number" value="0" class="form-control" id="pSaleOff" name="pSaleOff" required />

  </div>
</div>

<div class="form-group row">
  <div class="col-sm-2">
    <label for="quantity">Quantity:</label>
  </div>
  <div class="col-sm-2">
    <input type="number" class="form-control" id="quantity" name="quantity" required />
  </div>
</div>