<html>
  <body>
    <div class="list-group sidebar bg-dark h-100">
      <a
        class="list-group-item list-group-item-action text-light bg-dark"
        href="dashboard"
        >Dashboard</a
      >
      <a
        class="list-group-item list-group-item-action text-light bg-dark"
        href="users"
        >Users</a
      >
      <a
        class="list-group-item list-group-item-action text-light bg-dark"
        href="products"
        >Products</a
      >
      <a
        class="list-group-item list-group-item-action text-light bg-dark"
        href="orders"
        >Orders</a
      >
      <a
        class="list-group-item list-group-item-action text-light bg-dark"
        href="categories"
        >Categories</a
      >
      <a
        class="list-group-item list-group-item-action text-light bg-dark"
        href="feedbacks"
        >Feedbacks</a
      >
    </div>
  </body>
</html>
